/*
    ISTE.140 - Project
    Kyoto, Japan - Nintendo
    navigation.css
*/
.top_img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

#menu ul{
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
}

#menu{
    font-size: 1.4em;
}

#menu li{margin-right: 20px;}

#menu a{
    padding: 5px;
    color: white;
    background: red;
    text-decoration: none;
    border-radius: 8px;
}

#menu a:hover{
    color: black;
    text-decoration: underline;
}