/*
	ISTE.140 - Project
    Kyoto, Japan - Nintendo
    styes.css
*/
.top_img img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
}

.container{
    margin-left: 175px;
    margin-right: 175px;
    display: grid;
    grid-template-columns: 1fr;
}

h1{
    text-align: center;
}

article{
    padding-top: 40px;
    padding-bottom: 40px;
}

#sora img, #metroid img{
    float: left;
    padding-right: 40px;
}

#warioware img, #nick img{
    float: right;
    padding-left: 40px;
}

#brief img{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
}

#top5 figure{
    padding-left: 60px;
}

#top5 .bot2{
    padding-left: 220px;
}

#top5 img{
    float: left;
    padding-left: 10px;
    padding-bottom: 10px;
}

#brief p{
    padding-left: 100px;
    padding-right: 100px;
}

#sources{
    text-align: center;
    padding-bottom: 20px;
}

#sources li{
    list-style-type: none;
}

#sources a{
    text-decoration: none;
}

figure{
    padding-bottom: 20px;
}

#mario_history img{
    float: left;
    padding-right: 40px;
}

#gameboy img{
    float: right;
    padding-left: 40px;
    padding-top: 50px;
}